.footer {
    background-color: var(--primary-color-1);
    position: relative;
    min-height: 150px;
}

.footer img {
    max-height: 120px;
    max-width: 120px;
    margin: 0 !important;
}

.follow-us {
    font-size: 1.2rem;
    color: white;
}

.follow-us i {
    color: white
}

.follow-us i:hover {
    color: var(--primary-color-3)
}