.footer {
    background-color: var(--primary-color-1);
    position: relative;
    min-height: 150px
}

.footer img {
    height: 140px;
    width: 140px;
}

.follow-us {
    font-size: 1.2rem;
}

.follow-us i {
    color: white
}

.follow-us i:hover {
    color: var(--primary-color-3)
}