.menu {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0px 100px 120px;
}

h1 {
    font-family: 'Carter One', cursive;
    font-size: 4rem !important;
    padding-bottom: 50px
}

.menu-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    margin: 0 auto;
}

.listPopularDish {
    flex-wrap: wrap;
}